.resourceImg {
  object-fit: cover;
  object-position: center;
  margin-left: -13.5rem;
  margin-top: -22rem;
}
.balance {
  margin-top: 0;
}
.basicSiteConsultGuide {
  width: 137%;
  margin-top: -10rem;
}
.cta13 {
  width: 133.5%;
  margin-top: -0.05rem;
}
/* IN LIEU OF DIRECT LINK */
/* .everydayMenu {
  width: 133.5%;
  margin-top: 0;
} */
.imagery {
  width: 135%;
  margin-top: 0;
}
.staticFiles {
  width: 132.5%;
  margin-top: -7.5rem;
}
