/* STYLES FOR WHOLE WEBSITE */
body {
  font-family: sans-serif;
  margin: 0;
}
li {
  list-style-type: none;
  text-transform: lowercase;

  position: relative;
  left: 7rem;
  top: 15rem;
}

/* TITLE & TAGLINE STYLES */
h1#codeCommTitle {
  font-size: 8.563rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #5ce1e6;
  text-shadow: 0.073rem 0.073rem black;
  text-transform: uppercase;

  transform: rotate(-90deg);
  position: absolute;
  left: -21.688rem;
  top: 25rem;
}
#codeCommTagline {
  font-size: xx-large;
  font-family: serif;
  color: #c8c4bd;
  text-shadow: 0.027rem 0.027rem black;

  transform: rotate(-90deg);
  position: absolute;
  left: -4.813rem;
  top: 29.688rem;

  /* BELOW ANIMATION & KEYFRAMES GLOW TAGLINE */
  /* animation: glow 2s ease-in-out infinite alternate; */
}
/* @keyframes glow {
  from {
    text-shadow: 0 0 0.5rem whitesmoke;
  }
  to {
    text-shadow: 0 0 0.25rem#c8c4bd, 0 0 0.15rem black;
  }
} */

/* SOCIAL ICON STYLES IN TITLE */
.socialIcons {
  width: 2.75rem;
  position: absolute;
  top: 57.688rem;
  padding-bottom: 4.188rem;
}
#globe {
  left: 2.563rem;
}
#share {
  left: 5.688rem;
}

/* CODE COMMAND VISION STYLES */
.codeCommandVisionDiv {
  margin-top: 3rem;
}
.para {
  margin-top: 1.5rem;
  margin-left: 21rem;

  text-align: justify;
}
.codeCommandText {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* ARROW BACK HOME STYLES */
.arrow {
  height: 4.25rem;
  position: absolute;
  top: 47rem;
  left: 27rem;

  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

/* SELF ASSESSMENT PAGE UNDER CONSTRUCTION STYLES */
.selfAssessmentH2 {
  color: crimson;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 13.5rem;
  letter-spacing: 0.25rem;
  text-shadow: 0.15rem 0.15rem black;

  position: absolute;
  top: 19rem;
  left: 31.5%;

  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

/* UNDER CONSTRUCTION VIDEO */
.underConstructionVideo {
  position: absolute;
  left: -0.005rem;
  top: -0.005rem;
  height: 100%;
  width: 100%;
  object-fit: cover;

  z-index: -3;
}

/* PLACEHOLDER VIDEO */
.placeholderVideo {
  position: absolute;
  left: -0.005rem;
  top: -0.005rem;
  height: 100%;
  width: 100%;
  object-fit: cover;

  z-index: -1;
}

/* LANDING PAGE VIDEO STYLES */
.landingPageVideo {
  width: 100%;
  height: 113%;

  position: absolute;
  top: 0;
  left: 0;

  z-index: -13;

  filter: invert();
}

/* LANDING PAGE BUTTONS STYLES */
.landingPageBtnsDiv {
  margin-top: 17rem;
  margin-bottom: 10.438rem;
}
.landingPageButtons {
  color: #c8c4bd;
  font-size: xx-large;
  text-transform: uppercase;
  text-shadow: 0.088rem 0.088rem #3c1053ff;

  text-align: center;
  margin-bottom: 0.813rem;
}
.landingPageButtons:hover,
.landingPageButtons:focus {
  color: #5ce1e6;
  transform: scale(1.7);
  text-shadow: 0.031rem 0.031rem #360836;
  /* EASE EFFECT ON LANDING PAGE BUTTONS */
  animation: right_to_left 3s ease-out;
}
@keyframes right_to_left {
  from {
    margin-right: -3%;
  }
  to {
    margin-right: 0;
  }
}

/* STYLES FOR CODE COMMAND VISION IN SITE BTNS */
.codeCommandVision {
  margin-bottom: 1rem;
}

/* STYLES FOR SELF ASSESSMENT IN SITE BTNS */
.selfAssessment {
  margin-bottom: 1rem;
}

/* SITE NAVIGATION BUTTONS STYLES */
.siteButtonsUl {
  position: absolute;
  top: 15.5rem;
  left: 3.5rem;
  width: 30%;
  text-shadow: 0.088rem 0.088rem #3c1053ff;
}
.siteButtons {
  color: burlywood;
  font-size: medium;
  text-transform: uppercase;

  padding-left: 1.375rem;
  text-align: center;
}
/* STYLES FOR SUB LINKS */
/* LOCATED OVER SITE BTNS */
/* NEXT TO TITLE/TAGLINE */
.lessonFocusAreaUL {
  position: absolute;
  left: 13.5rem;
  padding-left: 1.375rem;
  margin-top: 11rem;
}
.macBasicsListItems {
  top: 25rem;
}
.codeMindListItems,
.codingListItems {
  top: 15.5rem;
}
.onlineListItems,
.searchListItems {
  top: 18.5rem;
}
.workFlowListItems {
  top: 17rem;
}
.resourceListItems {
  top: 5rem;
}
.codeMindListItems,
.codingListItems,
.macBasicsListItems,
.onlineListItems,
.searchListItems,
.workFlowListItems,
.resourceListItems {
  margin-left: -8rem;
}
a {
  color: burlywood;
  text-decoration: none;
}
.activeLink {
  color: #5ce1e6;

  -webkit-animation: color_change 1s infinite alternate;
  -moz-animation: color_change 1s infinite alternate;
  -ms-animation: color_change 1s infinite alternate;
  -o-animation: color_change 1s infinite alternate;
  animation: color_change 1s infinite alternate;
}

@-webkit-keyframes color_change {
  from {
    color: #5ce1e6;
  }
  to {
    color: #c8c4bd;
  }
}
@-moz-keyframes color_change {
  from {
    color: #5ce1e6;
  }
  to {
    color: #c8c4bd;
  }
}
@-ms-keyframes color_change {
  from {
    color: #5ce1e6;
  }
  to {
    color: #c8c4bd;
  }
}
@-o-keyframes color_change {
  from {
    color: #5ce1e6;
  }
  to {
    color: #c8c4bd;
  }
}
@keyframes color_change {
  from {
    color: #5ce1e6;
  }
  to {
    color: #c8c4bd;
  }
}
a:active,
a:focus,
a:hover {
  color: #5ce1e6;

  -webkit-animation: color_change 1s infinite alternate;
  -moz-animation: color_change 1s infinite alternate;
  -ms-animation: color_change 1s infinite alternate;
  -o-animation: color_change 1s infinite alternate;
  animation: color_change 1s infinite alternate;
}

@-webkit-keyframes color_change {
  from {
    color: #5ce1e6;
  }
  to {
    color: #c8c4bd;
  }
}
@-moz-keyframes color_change {
  from {
    color: #5ce1e6;
  }
  to {
    color: #c8c4bd;
  }
}
@-ms-keyframes color_change {
  from {
    color: #5ce1e6;
  }
  to {
    color: #c8c4bd;
  }
}
@-o-keyframes color_change {
  from {
    color: #5ce1e6;
  }
  to {
    color: #c8c4bd;
  }
}
@keyframes color_change {
  from {
    color: #5ce1e6;
  }
  to {
    color: #c8c4bd;
  }
}

/* LA'TONIA MERTICA IMAGE STYLES */
.latoniaMertica {
  width: 113rem;
  margin-left: -16rem;
  margin-top: -0.5rem;
  margin-bottom: -147rem;
}

/* FOOTER STYLES */
/* FOOTER ONLY IN CODE COMMAND VISION PAGE */
#lmdev-logo {
  text-align: center;
}
div#lmdev-logo > a > img {
  width: 37rem;
  margin-top: -2rem;
}
h2 {
  font-size: small;
  text-align: center;
}
.center {
  text-align: center;
}
footer > #footer-details {
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#trelloBoardScan {
  width: 7.063rem;
  border: 0.066rem dotted #5ce1e6;
  margin-top: 0.25rem;
  margin-bottom: 1.375rem;
}
.notbold {
  font-weight: normal;
}
#firstNameInFooter {
  color: #5ce1e6;
  font-weight: bold;
  font-size: large;
}
.notbold {
  font-size: small;
}
h3.center {
  line-height: 1.063rem;
}
.pronunciation {
  font-style: italic;
  font-size: x-small;
  margin-bottom: -0.188rem;
}

/* NOT FOUND PAGE STYLES */
/* 404 STYLES */
.div404 {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: -13rem;
}
.four04 {
  color: red;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 13rem;
}
.notFoundPgText {
  color: red;
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  text-shadow: 0.037rem 0.037rem 0.037rem white,
    0.031rem 0.031rem 0.009rem black;

  text-transform: lowercase;
  text-align: center;
  margin-top: 9rem;
  margin-bottom: 9rem;
}
.bottomLine {
  color: white;
  font-weight: bold;
  font-size: small;
  text-align: center;
  margin-top: -9rem;
  margin-bottom: 9rem;
}
.notFoundPgText:hover,
.bottomLine:hover,
.notFoundPgText:focus,
.bottomLine:focus {
  transform: scale(1.25);
}
.notFoundPageVideo {
  width: 100%;
  height: 115%;

  position: absolute;
  top: 0;
  left: 0;

  z-index: -13;

  filter: invert();
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1100px) {
  .divSOS {
    margin-top: -3px;
  }
  .firstS,
  .onlyO,
  .secondS {
    font-size: 237px;
  }
  h1 {
    color: red;
    text-align: center;
    font-family: fantasy;

    margin-top: 147px;
    font-size: 187px;
    text-shadow: 1.15px 1.15px greenyellow;
    margin-bottom: 327px;
  }
  h3.needLarger {
    color: greenyellow;
    font-weight: bold;
    font-size: medium;
    text-align: center;
    margin-top: -563px;
    margin-bottom: 250px;
  }
}
