body {
    font-family:sans-serif;
    margin: 0;
    border-bottom: 37px solid white;
    }

    a {
        text-decoration: none;
        }

    /* TITLE STYLES */
    h1#codeCommTitle {
    font-size: 137px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #5ce1e6;
    text-shadow: .25px .25px black;
    text-transform: uppercase;

    transform: rotate(-90deg);
    position: absolute;
    left: -347px;
    top: 400px;
    }

    #codeCommTagline {
    font-size: xx-large;
    font-family: serif;
    color: #c8c4bd;
    text-shadow: .15px .15px black;

    transform: rotate(-90deg);
    position: absolute;
    left: -77px;
    top: 475px;
    }

    /* SOCIAL ICON STYLES IN TITLE */
    .socialIcons {
    width: 44px;
    position: absolute;
    top: 923px;
    padding-bottom: 67px;
    }

    #globe {
    left: 41px;
    }

    #share {
    left: 91px;
    }

    /* NOT FOUND PAGE STYLES */
    .notFoundPgText {
        color: red;
        font-size: xx-large;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bold;
        text-shadow: 1px 1px 1px gray,
	  	             .5px .5px .15px black;

        text-transform: lowercase;
        text-align: center;
        margin-top: 144px;
        margin-bottom: 144px;
    }

    .bottomLine {
        color: white;
        font-size: small;
        text-align: center;
        margin-top: -144px;
        margin-bottom: 144px;
    }

    .notFoundPgText:hover,
    .bottomLine:hover {
        transform: scale(1.25);
    }

    .notFoundPageVideo {
        width: 100%;
        height: auto;

        position: absolute;
        top: 0;
        left: 0;

        z-index: -13;

        filter: invert();
    }


    /* LANDING PAGE BUTTONS STYLES */
    .landingPageBtnsDiv {
        margin-top: 147px;
        margin-bottom: 167px;

    }

    .landingPageButtons {
        color: darkgray;
        font-size: x-large;
        text-transform: uppercase;

        text-align: center;
        margin-bottom: 13px;
    }

    .landingPageButtons:hover {
        color: #5ce1e6;
        text-shadow: .5px .5px #360836;
    }

    /* SITE NAVIGATION BUTTONS STYLES */
    .siteButtonsDiv {
        position: absolute;
        top: 637px;
        left: 47px;
        /* margin-top: 137px;
        margin-bottom: 37px; */
        width: 30%;
    }

    .siteButtons {
        color: darkgray;
        font-size: medium;
        text-transform: uppercase;

        margin-left: 144px;
        padding-left: 22px;
        text-align: center;
    }

    /* ensure two css lines below function */
    .siteButtonsDiv:active {
        color: black;
    }

    /* FOOTER STYLES */
    a#resumeFile:hover {
        color: #5ce1e6 !important;
        }
        
    #resumeFile {
        font-size: small;
        color: #545454 !important;
        text-decoration: none !important;
        }
    
    #resumeBtn {
        width: 247px;
        padding-top: 3px;
        padding-bottom: 3px;
        border-radius: 24px;
        border-color: #5ce1e6;
        background-color: lightcyan;

        margin-top: 237px;
        margin-bottom: -5px;
        }
        
    /* p#resume > button#resumeBtn > a {
        font-weight: 887px;
        }
     */

    .borderLineDiv {
        border: .25px solid #5ce1e6;
        width: 50%;
        margin: auto;
        margin-bottom: 20px;
    }

    #lmdev-logo {
    text-align: center;
    margin-bottom: 15px;
    
    /* border-top: 1px solid #5ce1e6;
    padding-top: 15px; */
    }

    div#lmdev-logo > a > img {
    width: 44%;
    }
    
    h2 {
    font-size: small;
    text-align: center;
    }
    
    .center {
    text-align: center;
    }
    
    footer > #footer-details {
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    }

    #trelloBoardScan {
    width: 113px;
    border: 1.05px dotted #5ce1e6;
    margin-bottom: 22px;
    }
        
    .notbold {
    font-weight: normal;
    }
    
    #firstNameInFooter {
    color: #5ce1e6;
    font-weight: bold;
    font-size: large;
    }
   
    .notbold {
    font-size: small;
    }

    h3.center {
    line-height: 17px;
    }

    .pronunciation {
    font-style: italic;
    font-size: x-small;
    margin-bottom: -3px;
    }
    
    #bizEmail {
    color: black;
    text-decoration: none !important;
    font-size: small;
    }
    
    #bizEmail:hover {
    color: #5ce1e6;
    }
